{{> header}}

<section class="card">
    <header class="card-header">
        <h1 class="card-title">{{card.title}}</h1>
        <p class="card-meta">By  <strong>{{card.author.firstname}}</strong>, on <strong>{{card.addedAt}}</strong></p>
    </header>

    <div class="card-description">
        {{card.headline}}

        {{card.content}}
    </div>
</section>

{{> footer}}